@use 'util/tumblr';

//> Transparent background layer
#fade {
    //? hidden by default
    display: tumblr.tag('color:background');
    background: #fff;
    //? if you want to add a background image to go behind your popup
    background-image: url('');
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 9999;
}

.popup_block {
    //? hidden by default
    display: none;
    background: tumblr.tag('color:background');
    padding: 2px;
    border-radius: 2px;
    //? color of the border of the popup box
    border: 1px solid tumblr.tag('color:text');
    float: left;
    font-size: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    //? if the box is hiding behind other things in your theme, add more 9′s
    z-index: 99999;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

// Making IE6 Understand Fixed Positioning
*html #fade {
    position: absolute;
}
*html .popup_block {
    position: absolute;
}

.popup_block li {
    list-style: none;
    background: tumblr.tag('color:background');
    border: 1px solid #000000;
    margin: 2px;
    padding: 2px;
    transition: 0.6s;
    border-radius: 4px;
    display: inline-block;
}

.popup_block li:hover {
    background: tumblr.tag('color:image filter');
    transition: 0.6s;
}

/*  E N D  O F  P O P U P  B U L L S H I T  */

/*  F O N T S  */

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@font-face {
    font-family: 'tinyevil';
    src: url('https://static.tumblr.com/trjbcno/lBdqbbxv4/tinyevil.ttf');
}
@font-face {
    font-family: 'Megrim';
    src: url('https://static.tumblr.com/ya6qbg0/c4Fqbfn3f/megrim-regular.ttf');
}

/*  C S S  /  B O D Y  */

body {
    font-family: 'tinyevil', sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #dbeaf0;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-image: url('https://i.imgur.com/MrpHpDd.jpg');
    background-size: 100%;
    &::after {
        background-color: rgba(41, 41, 41, 0.25);
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        position: fixed;
        left: 0;
        top: 0;
    }
}

/* DISTORT HOVER EFFECT */
/* Underline From Left */
/* Ripple Out */
@keyframes ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
.title .navlink,
.username {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.title .navlink:before,
.username:before {
    content: '';
    position: absolute;
    border: #334a4b solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
}
.title .navlink:hover:before,
.username:hover:before,
.title .navlink:focus:before,
.username:focus:before,
.title .navlink:active:before,
.username:active:before {
    animation-name: ripple-out;
}
.title .navlink:hover,
.username:hover {
    background: #ff192f;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.title .navlink:hover a,
.username:hover a {
    color: inherit;
}

aside {
    width: calc(100% - 40px);
    left: 0px;
    padding: 10px 0px 0px 0px;
    top: 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
    align-content: center;
}
@media (max-width: 1400px) {
    aside {
        margin-top: 10px;
        transform: scale(0.9);
        margin-left: -5%;
    }
}
@media (max-width: 1200px) {
    aside {
        transform: scale(1);
        margin-left: 0;
    }
}

.hud {
    display: flex;
    align-items: center;
    transition: 0.6s;
}

.hexa2 {
    transform: rotate(120deg);
    width: 120px;
    height: 100px !important;
}

.hexa2,
.hexa2 div {
    margin: 0px auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

div {
    display: block;
}

.hexa2 div {
    width: 100%;
    height: 100%;
}

.hexy1 {
    transform: rotate(-60deg);
}

.hexy2 {
    transform: rotate(-60deg);
}

#menu {
    z-index: 9999;
}

.hud-links {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    transform: translate(0, 0);
}

.title {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 35px;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 2px;
}
.title .navlink {
    background: #334a4b;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    margin: 0px 10px 0px 0px;
    transform: skew(30deg, 0deg);
    text-align: center;
}
.title a {
    transform: skew(-30deg, 0);
    color: #111111;
}

.username {
    color: #111111;
    letter-spacing: 2px;
    background: #334a4b;
    padding: 10px 14px;
    height: auto;
    display: flex;
    width: auto;
    margin: 10px 0px 0px 0px;
    transform: skew(-30deg, 0deg);
}
.username span {
    transform: skew(30deg, 0);
}

.flex-grid {
    display: flex;
}
.flex-grid.justify-center {
    justify-content: center;
}
.flex-grid.justify-right {
    justify-content: right;
}

.text-box {
    background: rgba(0, 0, 0, 0.075);
    flex: 0 0 25rem;
    margin-top: -2rem;
    border: 1px solid black;
    padding: 2rem;
    display: inline-block;
    backdrop-filter: blur(3px);
    text-align: justify;
    font-family: 'tinyevil', monospace;
    font-size: 10px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}
a {
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-shadow: 4px 0px #ff6695, -4px 0px #46f9e6;
    text-decoration: none;
}

.btn__flat.btn--like {
    color: #334a4b;
    font-size: 2rem;
    position: relative;
}
.btn__flat.btn--like .svg-inline--fa {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s ease-in-out;
}
.btn__flat.btn--like .svg-inline--fa[data-prefix='fal'] {
    opacity: 1;
}
.btn__flat.btn--like .svg-inline--fa[data-prefix='fas'] {
    opacity: 0;
}
.btn__flat.btn--like:hover {
    color: #ff192f;
}
.btn__flat.btn--like:hover .svg-inline--fa[data-prefix='fal'] {
    opacity: 0;
}
.btn__flat.btn--like:hover .svg-inline--fa[data-prefix='fas'] {
    opacity: 1;
}

li {
    list-style: circle;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: tumblr.tag('color:scrollbar');
    border: 1px solid tumblr.tag('color:background');
    /*border-top: 1px solid tumblr.tag('color:background');;*/
    /*border-bottom: 1px solid tumblr.tag('color:background');;*/
    cursor: pointer;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: #262d2f;
    border: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

/* links, bold, italic, and strike through */

a {
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    color: inherit;
}
a:hover {
    color: #000000;
    text-shadow: 2px 0px #ff6695, -2px 0px #46f9e6;
    text-decoration: none;
}

b {
    color: tumblr.tag('color:bold');
}

i {
    color: tumblr.tag('color:italic');
}

s {
    color: tumblr.tag('color:strike');
}

/* blockquote */

blockquote {
    border-left: 1px solid #ff192f;
    padding-left: 4px;
    margin: 10px;
}

blockquote img {
    max-width: 100%;
}

/*custom styling for specific icons*/

.fa-waveform-path {
    color: salmon;
}

/*.fa-frog {*/
/*  color: green;*/
/*}*/

/*.fa-user-ninja.vanished {*/
/*  opacity: 0.0;*/
/*}*/

/*.fa-facebook {*/
/*  color: rgb(59, 91, 152);*/
/*}*/

/* description */

.description {
    padding: 20px;
    transform: translate(0, -20px);
    font-size: 0.9em;
    border-bottom: 1px solid tumblr.tag('color:sidebar border');
    transition: 0.6s;
}

/* Search */

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.search {
    font-family: 'tinyevil', sans-serif;
    font-size: 1em;
    background: tumblr.tag('color:background');
}

.search-scope {
    font-family: 'tinyevil', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
}

#search-scope input,
#search-scope label {
    cursor: pointer;
}

#search form {
    margin: 0;
    z-index: 9999;
}

#search form .query {
    border: none;
    outline: none;
    background: tumblr.tag('color:background');
    line-height: 100%;
    width: 200px;
    font-size: 1em;
    padding: 2px;
    color: tumblr.tag('color:text');
}

/* Container */

#container {
    position: relative;
    width: 1200px;
    margin: auto auto 100px auto;
    margin-left: 400px;
}

/*  INDIVIDUAL POSTS  */

.entry {
    float: left;
    display: block;
    margin: 10px;
    width: 350px;
    z-index: 2;
    border: 1px solid transparent;
    position: relative;
    text-align: center;
    // FIXME: Figure out how to add block tags
    // {block:PermalinkPage}
    width: 500px;
    // {/block:PermalinkPage}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1124px) {
    #container {
        width: 700px;
    }
    .entry:nth-child(2) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(4) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(6) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(8) {
        transform: translate(-100px, 160px);
    }
}

@media only screen and (min-width: 1224px) {
    .entry:nth-child(2) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(3) {
        transform: translate(-200px, 0px);
    }

    .entry:nth-child(4) {
        transform: translate(0, 0);
    }

    .entry:nth-child(5) {
        transform: translate(-100px, 160px);
    }
    .entry:nth-child(6) {
        transform: translate(-200px, 0px);
    }
    .entry:nth-child(7) {
        transform: translate(0, 0);
    }

    .entry:nth-child(8) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(9) {
        transform: translate(-200px, 0px);
    }

    .entry:nth-child(10) {
        transform: translate(0, 0);
    }

    .entry:nth-child(11) {
        transform: translate(-100px, 160px);
    }
    .entry:nth-child(12) {
        transform: translate(-200px, 0px);
    }
    .entry:nth-child(13) {
        transform: translate(0, 0);
    }

    .entry:nth-child(14) {
        transform: translate(-100px, 160px);
    }

    .entry:nth-child(15) {
        transform: translate(-200px, 0px);
    }
}

.entry img {
    max-width: 100%;
    display: block;
}

/*posts container */

.posts {
    width: 100%;
    top: 10px;
    z-index: 99;
    margin: auto auto 200px 5px;
    position: relative;
}

h1 {
    margin-top: 2px;
    font-family: 'Megrim', cursive;
    font-size: 20px;
    color: tumblr.tag('color:text');
    font-weight: 800;
    text-align: center;
    letter-spacing: 8px;
    padding-bottom: 0px;
    position: relative;
}

/* image filter */
/* ---- OVERLAYS COLOR ON IMAGE POSTS ---- */
.im {
    background: tumblr.tag('color:image filter');
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
    display: none;
    // {/block:permalinkpage}
}

.im::before {
    background: tumblr.tag('color:image filter');
    opacity: 0.85;
    content: '';
    position: absolute;
    left: 0px;
    top: auto;
    height: 100%;
    width: 100%;
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
    display: none;
     // {/block:permalinkpage}
}
.entry:hover .im::before {
    opacity: 0;
    transition: 1s;
}

/* Link Posts */

.linkp {
    font-size: 24px;
    position: relative;
    text-align: center;
    background: tumblr.tag('color:background');
    padding: 6px;
    border-radius: 4px;
    border: 1px solid tumblr.tag('color:info border');
}
.linkp a {
    text-decoration: none;
    border-bottom: tumblr.tag('color:info border');
}
.linkp::after {
    content: '»';
    transition: 0.6s;
    margin-left: 2px;
}

.linkp:hover::after {
    margin-left: 10px;
    transition: 0.6s;
    color: tumblr.tag('color:link hover');
}

/* Chat Posts */

.chat {
    padding: 5px;
    line-height: 150%;
}

.chat:nth-of-type(odd) {
    background: tumblr.tag('color:text');
    color: tumblr.tag('color:posts');
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.chat:nth-of-type(odd) b {
    color: tumblr.tag('color:posts');
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.chat:nth-of-type(even) {
    background: tumblr.tag('color:posts');
    color: tumblr.tag('color:text');
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.chat:nth-of-type(even) b {
    color: tumblr.tag('color:text');
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

/* Ask Posts */

.speechbubble {
    width: 360px;
    position: relative;
    background: #eee;
    left: 80px;
    margin: 0;
    font-size: 0.9em;
    padding: 14px;
    border-radius: 4px;
    height: auto;
    background: tumblr.tag('color:ask bubble');
    border: tumblr.tag('color:ask border') solid 1px;
}

.speechbubble:after {
    content: '';
    position: absolute;

    border-style: solid;
    border-width: 12px 17px 12px 0;
    border-color: transparent tumblr.tag('color:ask bubble');
    display: block;
    width: 0;
    z-index: 1;
    left: -17px;
    top: 12px;
}

.speechbubble:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 12px 17px 12px 0;
    border-color: transparent tumblr.tag('color:ask border');
    display: block;
    width: 0;
    z-index: 0;
    left: -18px;
    top: 12px;
}

/*  A U D I O  P O S T  S T Y L I N G  */

#albumart {
    z-index: 2;
    width: 500px;
    height: 500px;
    float: left;
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
    border-radius: 100%;
    height: 120px;
    border: 1px solid #ff192f;
    width: 120px;
    // {/block:permalinkpage}
}

.playerbox {
    float: left;
    padding: 6px;
}

#albumart img {
    float: left;
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
    border-radius: 100%;
    width: 120px;
    height: 120px;
     // {/block:permalinkpage}
    border-width: 0px;
    transition: 0.6s;
}
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
.playerbox:hover #albumart img {
    transition: 0.6s;
    transform: rotate(300deg);
}

.player {
    width: 20px;
    overflow: hidden;
    height: 40px;
    transform: scale(1.2);
    border-radius: 100%;
    // FIXME: Figure out how to add block tags
    // {block:indexpage}
    opacity: 1;
    // {/block:indexpage}
    top: 8px;
    bottom: 10px;
    left: 4px;

    padding: 8px;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 0px;
    border-radius: 100%;
    position: absolute;
}

.playercon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    left: 0px;
    background: white;
    top: 30px;
    position: relative;
    border: 1px solid tumblr.tag('color:info border');
    -webkit-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    -ms-transition-duration: 500ms;
}

 // {/block:permalinkpage}

.infobox {
    float: left top;
    margin-left: 90px;
    background-color: transparent;
    padding: 14px;
    padding-left: 2px;
    max-height: 140px;
    text-align: center;
    color: tumblr.tag('color:text');
}

.track {
    letter-spacing: 2px;
    padding: 8px 10px;
    margin-left: -14px;
    font-size: 1em;
    border-bottom: 1px solid tumblr.tag('color:info border');
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.6s;
    color: #333;
}
.artist {
    letter-spacing: 2px;
    padding: 2px;
    font-style: italic;
}

.album {
    font-size: 0.9em;
}

.playcount {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#audiolo {
    width: 480px;
}

/* hover info */

.info {
    width: 220px;
    position: absolute;
    background: transparent;
    left: 50%;
    text-align: center;
    top: 50%;
    height: 100px;
    border: 1px solid transparent;
    margin-left: -110px;
    margin-top: -20px;
    overflow: hidden;
    opacity: 0;
    transform: translate(0px, 0px);
    transition: 0.6s;
}

.info svg {
    width: 16px;
    height: 16px;

    fill: tumblr.tag('color:links');
}

.info .like svg {
    width: 1.68em;

    margin-top: 0px;
    height: 1.68em;
}

.info .like {
    /* Make a parent element */
    position: absolute;
    right: 28px;
    top: 2px;
}

.info .like .like_button {
    /* Position like button above your custom one */
    position: absolute;
    top: 0;
    margin-left: -2px;
    margin-top: -3px;
    opacity: 0;
}
.info .like .like_button.liked {
    /* Keep the functionality active */
    opacity: 1;
}

/* index text posts */
.text {
    color: tumblr.tag('color:text');
    padding: 0 5rem;
    width: auto;
    height: auto;
    overflow: auto;
    transform-origin: unset;
    /*position: absolute;*/
    /*height: 220px;*/
    /*width: 210px;*/
    /*left: 5%;*/
    /*top: 5%;*/
    /*height: 200px;*/
    /*overflow: hidden;*/
    /*border: 1px solid transparent;*/
}

.text:after {
    content: '';
    background: linear-gradient(to bottom, transparent, #334a4b);
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0px;
    transition: 0.6s;
}

.entry:hover .text:after {
    background: tumblr.tag('color:link hover');
    transition: 0.6s;
}

.text a {
    color: tumblr.tag('color:links');
    border-bottom: 1px solid tumblr.tag('color:links');
}

.entry:hover .info {
    transform: translate(0, 0);
    opacity: 1;
    transition: 0.6s;
}

.info a {
    padding: 2px;
    font-size: 2em;
}

/* pop up links */

.menu {
    transition: 1s;
    width: 90%;
    opacity: 1;
    transform: translate(0, -20px);
    left: 20px;
}

.menu a {
    font-size: 1.2em;
}

.menu li {
    display: inline-block;
}

.menulink {
    background: tumblr.tag('color:sidebar links');
    padding-top: 8px;
    padding-left: 2px;
}

/*hexagon styling */

.hexa3,
.hexa3 div {
    margin: 0px auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.hexa3 {
    width: 60px;
    height: 40px;
}
.hexa3 div {
    width: 100%;
    height: 100%;
}
.hexa3 {
    transform: rotate(120deg);
}

.hexa,
.hexa div {
    margin: 0 auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.hexa {
    width: 380px;
    height: 290px;
}
.hexa div {
    width: 100%;
    height: 100%;
}
.hexa {
    transform: rotate(120deg);
}
.hex1 {
    transform: rotate(-60deg);
}
.hex2 {
    transform: rotate(-60deg);
}

.sideimage {
    padding: 40px 0px;
    border-bottom: 1px solid tumblr.tag('color:sidebar border');
    position: relative;
}

.hexa2,
.hexa2 div {
    margin: 0px auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.hexa2 {
    width: 120px;
    height: 100px;
}
.hexa2 div {
    width: 100%;
    height: 100%;
}
.hexa2 {
    transform: rotate(120deg);
}
.hex1 {
    transform: rotate(-60deg);
}
.hex2 {
    transform: rotate(-60deg);
}

.ah:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: tumblr.tag('color:image filter');
    opacity: 0;
    transition: 0.6s;
}

.sideimage:hover .ah:before {
    opacity: 1;
    transition: 0.6s;
}

.inf {
    height: 40px;
    width: 40px;
    position: absolute;
    transform: translate(0px, -20px);
    top: 90px;
    transition: 0.6s;
    width: 100%;
    opacity: 0;
    text-align: center;
}

#sidebar ol.notes {
    display: none;
}

.sideimage:hover .inf {
    transform: translate(0, -8px);
    opacity: 1;
    transition: 0.6s;
}

.ps {
    // FIXME: Figure out how to add block tags
    // {block:permalinkpage}
    display: none;
     // {/block:permalinkpage}
}

/* Permalink pages styling */

/*captions */
.caption {
    padding: 20px;
    margin-top: 10px;
    background: tumblr.tag('color:posts');
    border: 1px solid tumblr.tag('color:info border');
    border-radius: 4px;
}

/* Permalink info */

.permainfo {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    border-radius: 4px;
    background: tumblr.tag('color:posts');
    border: 1px solid tumblr.tag('color:info border');
}

/*Tags */

.tags {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.tags a {
    background: tumblr.tag('color:tag bg');
    color: tumblr.tag('color:tag link');
    padding: 4px 6px;
    border-radius: 4px;
    transition: 0.6s;
}

.tags a:hover {
    background: tumblr.tag('color:tag hover');
    transition: 0.6s;
}

/* Pagination */

/*#pagination a {color: #334a4b;}*/
#pagination {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 6px;
    margin-left: 0rem;
    margin-top: 0rem;
    height: auto;
    width: auto;
}

.jump_page {
    color: tumblr.tag('color:text');
    padding: 2px 2px;
    border: 1px solid #000000;
    margin: 0px 0px 0px 2px;
    background: tumblr.tag('color:background');
    text-decoration: none;
    border-radius: 3px;
}

.jump_page a {
    border: none;
}

.current_page {
    padding: 2px 2px;
    border: 1px solid #000000;
    background: tumblr.tag('color:background');
    opacity: 0.8;
    color: tumblr.tag('color:text');
    transition: 0.6s;
    border-radius: 4px;
    margin: 2px;
    text-decoration: none;
}

.current_page:hover {
    color: #ff192f;
    opacity: 1;
    transition: 0.6s;
}

#pagination .jump_page:hover {
    color: #ff192f;
    transition: 0.6s;
}

/*  P O S T  N O T E S  */

/*#notes {*/
/*    width: 500px;*/
/*    padding:10px;*/
/*    margin-top:10px;*/
/*    border-radius:4px;*/
/*} */

/*#notes li {*/
/*    list-style: none;*/

/*}*/
/*ul.notes {*/
/*    background: tumblr.tag('color:background');*/
/*    margin: auto;*/
/*    position: relative;*/
/*    width: 500px;*/
/*    height: auto;*/
/*    animation-name: Up 4s;*/
/*    list-style: none;*/
/*    animation-iteration-count: 1;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*ul.notes li {*/
/*    list-style: none;*/
/*    border: 1px solid #000000;*/
/*    padding: 2px;*/
/*    width: 100%;*/
/*    transform: translate(-40px, 0px);*/

/*}*/

/*ul.notes img {*/
/*    transform:translate(-4px,4px);*/
/*    border-radius: 2px;*/
/*    float:left;*/
/*}*/

/*ul.notes .like::before {*/
/*   content:'';*/
/*   width:16px;*/
/*   height:16px;*/
/*   float:right;*/
/*   background-repeat:no-repeat;*/
/*   padding:1px;*/
/*   background-size:17px 18px;*/
/*   border-radius:100%;*/
/*}*/

/*ul.notes .reblog::before {*/
/*    content:'';*/
/*    background-repeat:no-repeat;*/
/*    padding:1px;*/
/*    float:right;*/
/*    width:16px;*/
/*    height:16px;*/
/*    border-radius:100%;*/
/*    background-size:17px 18px;*/
/*}*/

/*ul.notes .reblog.original_post::before {*/
/*    background: tumblr.tag('color:posts');*/
/*    width:16px;*/
/*    height:16px;*/
/*    padding:1px;*/
/*    float:right;*/
/*    border:1px solid transparent;*/
/*    content:'';*/
/*}*/

#loadingscreen {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: 50% 50% no-repeat #fff;
    background-size: 325px;
}

/* -----------MY CODE STARTS HERE------------ */
/*
    @import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
    @font-face {
      font-family: "tinyevil";
      src: url("https://static.tumblr.com/trjbcno/lBdqbbxv4/tinyevil.ttf");
    }
    @font-face {
      font-family: "Megrim";
      src: url("https://static.tumblr.com/ya6qbg0/c4Fqbfn3f/megrim-regular.ttf");
    }
    body {
      font-family: 'tinyevil', sans-serif;
      font-weight: normal;
      font-size: 10px;
      color: #dbeaf0;
      letter-spacing: 0px;
      text-transform: uppercase;
      background-image: url(https://i.imgur.com/MrpHpDd.jpg);
      background-size: 100%;
    }
    body:after {
      background-color: rgba(41, 41, 41, 0.25);
      content: '';
      width: 100%;
      height: 100%;
      z-index: -1;
      position: fixed;
      left: 0;
      top: 0;
    }

    /* DISTORT HOVER EFFECT */
/* Underline From Left */
/* Ripple Out */
@keyframes ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
.title .link,
.username {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 20px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.title .link:before,
.username:before {
    content: '';
    position: absolute;
    border: #334a4b solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
}
.title .link:hover:before,
.username:hover:before,
.title .link:focus:before,
.username:focus:before,
.title .link:active:before,
.username:active:before {
    animation-name: ripple-out;
}
.title .link:hover,
.username:hover {
    background: #ff192f;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.title .link:hover a,
.username:hover a {
    color: inherit;
}

aside {
    width: calc(100% - 40px);
    left: 0px;
    padding: 10px 0px 0px 0px;
    top: 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
    align-content: center;
}
@media (max-width: 1400px) {
    aside {
        margin-top: 10px;
        transform: scale(0.9);
        margin-left: -5%;
    }
}
@media (max-width: 1200px) {
    aside {
        transform: scale(1);
        margin-left: 0;
    }
}

.hud {
    display: flex;
    align-items: center;
    transition: 0.6s;
}

.hexa2 {
    transform: rotate(120deg);
    width: 120px;
    height: 100px !important;
}

.hexa2,
.hexa2 div {
    margin: 0px auto;
    transform-origin: 50% 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
}

div {
    display: block;
}

.hexa2 div {
    width: 100%;
    height: 100%;
}

.hexy1 {
    transform: rotate(-60deg);
}

.hexy2 {
    transform: rotate(-60deg);
}

#menu {
    z-index: 9999;
}

.hud-links {
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    transform: translate(0, 0);
}

.title {
    font-family: 'Megrim', cursive;
    font-weight: 900;
    font-size: 35px;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 2px;
}
.title .link {
    background: #334a4b;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    margin: 0px 10px 0px 0px;
    transform: skew(30deg, 0deg);
    text-align: center;
}
.title a {
    transform: skew(-30deg, 0);
    color: #111111;
}

.username {
    color: #111111;
    letter-spacing: 2px;
    background: #334a4b;
    padding: 10px 14px;
    height: auto;
    display: flex;
    width: auto;
    margin: 10px 0px 0px 0px;
    transform: skew(-30deg, 0deg);
}
.username span {
    transform: skew(30deg, 0);
}

.flex-grid {
    display: flex;
}
.flex-grid.justify-center {
    justify-content: center;
}
.flex-grid.justify-right {
    justify-content: right;
}

.text-box {
    background: rgba(0, 0, 0, 0.075);
    flex: 0 0 25rem;
    margin-top: -2rem;
    border: 1px solid black;
    padding: 2rem;
    display: inline-block;
    backdrop-filter: blur(3px);
    text-align: justify;
    font-family: 'tinyevil', monospace;
    font-size: 10px;
}

.btn__flat.btn--like {
    color: #334a4b;
    font-size: 2rem;
    position: relative;
}
.btn__flat.btn--like .svg-inline--fa {
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.4s ease-in-out;
}
.btn__flat.btn--like .svg-inline--fa[data-prefix='fal'] {
    opacity: 1;
}
.btn__flat.btn--like .svg-inline--fa[data-prefix='fas'] {
    opacity: 0;
}
.btn__flat.btn--like:hover {
    color: #ff192f;
}
.btn__flat.btn--like:hover .svg-inline--fa[data-prefix='fal'] {
    opacity: 0;
}
.btn__flat.btn--like:hover .svg-inline--fa[data-prefix='fas'] {
    opacity: 1;
}
